@import url("./latofonts.css");

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}
.text-title {
  font-family: "LatoRegular", sans-serif;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.text-main {
  color: var(--primaryColor);
}
body {
  font-family: "LatoRegular", sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}
.main-link {
  background-color: #c69963;
  color: #fff;
  border: none;
  font-family: "LatoWebHairline", sans-serif;
  font-size: 1.5rem;
  padding: 0.7rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  transition: all 0.2s;
}
.main-link:hover {
  background-color: #af7937;
  color: #fff;
  outline: 4px solid #af7937;
  outline-offset: 4px;
  text-decoration: none;
}
